.jumbotron {
  background-image: url(../images/rag1.jpg);
  background-position: center;

  background-size:contain;
background-attachment: scroll;
  text-align: center;
}
.p01
{
font-style:bold;
font-family: geneva;
color: #FFFFFF;
font-weight:bold;

 padding: 6px;
 background-image: url(../images/rag6.jpg);
background-size: 150px 100px;
  background-position: center;
font-size: 10px;
}
