
#borderimg1{
border: 20px solid transparent;
padding: 15px;
-webkit-border-image: url(../images/rag5.jpg) 30 round; /* Safari 3.1-5 */
-o-border-image: url(../images/rag5.jpg) 30 round; /* Opera 11-12.1 */
border-image: url(../images/rag5.jpg) 30 round;
font-size: 17px;
font-family:geneva;
color: RGB(0,0,50);


}

.p06 {
  background-image: url(../images/rag4.jpg);
  background-position: center;

  background-size:auto;
background-attachment: scroll;
  text-align: center;
border-collapse: collapse;


}




.p08{
font-family:geneva ;
  text-align: center;
  color: #800000;
  font-size: 30px;


border-width: thick;
}
